<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <div th:include="layout/headers::loginSwitcher" class="header-login-block"></div>
    <div th:include="layout/headers::localSwitcher" class="header-lang-block"></div>
</div>

<div th:fragment="localSwitcher">
    <span class="local_switcher noCopy">
    <a href="?lang=en">en</a> | <a href="?lang=ua">ua</a> | <a href="?lang=ru">rus</a>
</span>
</div>

<div th:fragment="loginSwitcher">
        <span th:if="${#authorization.expression('!isAuthenticated()')}">
            <a href="/login" th:href="@{/login}" th:text="#{header.label.login}">Login</a>
        </span>
        <span th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout" th:href="@{/logout}" th:text="#{header.label.logout}">Logout</a>
        </span>
</div>
</body>

</html>