<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* Tiles attribute will be put here at runtime */-->
    <title >Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/resources/css/core3.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core3.css}"/>
    <link href="/resources/css/Dropdown.ltr.css" rel="stylesheet" media="screen" th:href="@{/resources/css/Dropdown.ltr.css}"/>
    <link href="/js/Dropdown.src.js" rel="stylesheet" media="screen" th:href="@{/resources/js/Dropdown.src.js}"/>
</head>
<body>

<div class="header" th:include="layout/headers::header" style="background-color: #204d74"></div>
<div class="menu" th:include="layout/menu::menu"></div>
<div class="content" th:include="layout/content::content"></div>
<div class="footer" th:include="layout/footers::footer"></div>

</body>
</html>