<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menu">
    <div th:include="layout/menu::menu1"></div>
</div>

<div th:fragment="menu1">

    <!--link to source of this menu http://code.stephenmorley.org/javascript/touch-friendly-drop-down-menus/ -->
    <ul class="dropdown noCopy">
        <li>
            <span th:text="#{menu.tab.add}">Add</span>
            <ul>
                <li><a th:href="@{/visitor/add}" th:text="#{menu.add.visitor}">Add visitor</a></li>
                <li><a th:href="@{/visit/add}" th:text="#{menu.add.visit}">Add visit</a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/service/add}" th:text="#{menu.add.service}">Add service</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/salon/add}" th:text="#{menu.add.salon}">Add salon</a>
                </li>
            </ul>
        </li>
        <li><span th:text="#{menu.tab.search}">Search</span>
            <ul>
                <li><a th:href="@{/visitor/search}" th:text="#{menu.search.visitor}">Search visitor</a></li>
                <li><a th:href="@{/visit/search}" th:text="#{menu.search.visit}">Search visit</a></li>
                <li><a th:href="@{/service/search}" th:text="#{menu.search.service}">Search service</a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_DIRECTOR'')')}">
                    <a th:href="@{/salon/search}" th:text="#{menu.search.salon}">Search salon</a>
                </li>
            </ul>
        </li>
        <li><span th:text="#{menu.tab.services}">Services</span>
            <ul>
                <li><a th:href="@{/service/showAll}" th:text="#{menu.services.showAll}">Show all services</a></li>
                <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a th:href="@{/service/add}" th:text="#{menu.services.addNew}">Add new service</a>
                </li>
            </ul>
        </li>
        <li><span th:text="#{menu.tab.reports}">Reports</span>
            <ul>
                <li><a th:href="@{/reports/showAll}" th:text="#{menu.reports.showAll}">Show all reports</a></li>
                <li><a th:href="@{/reports/add}" th:text="#{menu.reports.addNew}">Add new report</a></li>
            </ul>
        </li>
    </ul>
</div>

</body>

</html>