<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>

<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> Hello ADMIN</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_DIRECTOR'')')}"> Hello DIRECTOR</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}"> Hello MANAGER</div>

<form action="/visitor/add" th:action="@{/visitor/add}" method="post" th:method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="lastName" th:text="#{add.visitor.form.lastName}">Last name</label>
    <input type="text" id="lastName" placeholder="Last name" th:placeholder="#{add.visitor.form.lastName}"/>
    <br/>
    <label for="firstName" th:text="#{add.visitor.form.firstName}">First name</label>
    <input type="text" id="firstName" placeholder="First name" th:placeholder="#{add.visitor.form.firstName}"/>
    <br/>
    <label for="middleName" th:text="#{add.visitor.form.middleName}">Middle name</label>
    <input type="text" id="middleName" placeholder="Middle name" th:placeholder="#{add.visitor.form.middleName}"/>
    <br/>
    <label for="sex" th:text="#{add.visitor.form.sex}">Sex</label>
    <select id="sex">
        <option th:text="#{add.visitor.form.sex.woman}">Woman</option>
        <option th:text="#{add.visitor.form.sex.man}">Man</option>
    </select>
    <br/>
    <label for="dateOfBirth" th:text="#{add.visitor.form.dateOfBirth}">Date of Birth</label>
    <input type="text" id="dateOfBirth" th:placeholder="#{add.service.form.service.id}"/>
    <br/>
    <label for="phoneNumber" th:text="#{add.visitor.form.phoneNumbers}">Phone numbers</label>
    <select id="phoneNumber">
        <option th:remove="tag">some phone number</option>
        <option th:text="#{add.visitor.form.phoneNumber.addNew}">Add new phone number</option>
    </select>
    <br/>
    <label for="email" th:text="#{add.visitor.form.email}">Email</label>
    <input type="text" id="email" placeholder="Email" th:placeholder="#{add.visitor.form.email}"/>
    <br/>
    <label for="status" th:text="#{add.visitor.form.status}">Status</label>
    <input type="text" id="status" placeholder="Status" th:placeholder="#{add.visitor.form.status}"/>
    <br/>
    <label for="note" th:text="#{add.visitor.form.note}">Note</label>
    <input type="text" id="note" placeholder="Note" th:placeholder="#{add.visitor.form.note}"/>
    <br/>
    <button type="submit" th:text="#{add.visitor.form.button.add}">Add</button>
    <button type="reset" th:text="#{add.visitor.form.button.cancel}">Cancel</button>
</form>
</body>
</html>