<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{search.visitor.form.title}">Search visitor</h2>

<label for="visitors" th:text="#{search.visitor.form.visitors}">Visitors</label>
<table id="visitors" class="dataTable">
    <thead>
    <tr>
        <td th:text="#{search.visitor.form.id}">Visitor ID</td>
        <td th:text="#{search.visitor.form.fullName}">Full name</td>
        <td th:text="#{search.visitor.form.phoneNumber}">Phone number</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="visitor : ${allVisitors}">
        <td th:text="${visitor.getId()}"></td>
        <td th:text="${visitor.getFullName()}"></td>
        <td th:text="${visitor.getPhone()}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>