<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{search.visitor.form.title}"></h2>

<label for="visitors" th:text="#{search.visitor.form.visitors}"></label>
<table id="visitors" class="dataTable">
    <thead>
    <tr>
        <td th:text="#{search.visitor.form.id}"></td>
        <td th:text="#{search.visitor.form.fullName}"></td>
        <td th:text="#{search.visitor.form.phoneNumber}"></td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="visitor : ${allVisitors}" th:action="@{/visitor/view/__${visitor.getId()}__}" th:class="searchable">
        <td th:text="${visitor.getId()}"></td>
        <td th:text="${visitor.getFullName()}"></td>
        <td th:text="${visitor.getPhone()}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>