a, span, div, p {
  font-size: 16pt;
}

.header {
  background-color: #204d74
}

.header-login-block {
  position: relative;
  top: 100%;
  float: right;
  display: inline-block;
  padding: 3px;
}

.header-lang-block {
  color: white;
  position: relative;
  top: 100%;
  float: right;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  cursor: default;
}

a:link, a:visited {
  color: white;
}

a:hover, span:hover {
  color: blue;
}
span.local_switcher:hover{
  color: white;
}
.footer {
  position: absolute;
  width: 99.0%;
  background: rgb(128, 192, 64);
  bottom: 0;
  float: left;
  display: block;
}

.footer span {
  color: white;
  padding: 10px;
  margin-right: 30px;
  float: right;
}
.noCopy{
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ajaxSubmitForm{

}

.datePicker{

}