a, span, div, p {
  font-size: 16pt;
  /*text-align: center;*/
  /*font-family: 'PT Sans', sans-serif;*/
  /*line-height: 48px;*/
}

/*.menu{*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*line-height: 50px;*/
  /*height: 50px;*/
  /*background-color: rgb(128,192,64);*/
  /*z-index: 1;*/
/*}*/

/*.menu.sticky {*/
  /*height: 50px;*/
  /*background: #efc47D;*/
  /*padding-left: 20px;*/
/*}*/

.header-login-block {
  position: relative;
  top: 100%;
  float: right;
  display: inline-block;
  padding: 3px;
}

.header-lang-block {
  color: white;
  position: relative;
  top: 100%;
  float: right;
  display: inline-block;
  padding-right: 15px;
  padding-top: 3px;
}

a {
  text-decoration: none;
  cursor: default;
}

a:link, a:visited {
  color: white;
}

a:hover, span:hover {
  color: blue;
}

span.local_switcher:hover {
  color: white;
}

html, body, #wrap {
  margin: 0;
  height: 100%;
}

body > #wrap {
  height: auto;
  min-height: 100%;
}

#main {
  padding-bottom: 50px;
}

/* отступ должен быть равен высоте футера */

#footer {
  position: relative;
  margin-top: -50px; /* отрицательное значение высоты футера */
  height: 50px;
  clear: both;

  width: 100.0%;
  background: rgb(128, 192, 64);
  float: left;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

#footer span {
  color: white;
  padding: 10px;
  margin-right: 30px;
  float: right;
}

.noCopy {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ajaxSubmitForm {

}

.datePicker {

}