<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{search.status.form.title}"></h2>

<table id="statuses" class="dataTable">
    <thead>
    <tr>
        <td th:text="#{search.status.form.id}"></td>
        <td th:text="#{search.status.form.name}"></td>
        <td th:text="#{search.status.form.createDate}"></td>
        <td th:text="#{search.status.form.lastUpdated}"></td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="status : ${allStatuses}" th:action="@{/status/view/__${status.getId()}__}" th:class="searchable">
        <td th:text="${status.getId()}"></td>
        <td th:text="${status.getName()}"></td>
        <td th:text="${status.getCreateDate()}"></td>
        <td th:text="${status.getLastUpdated()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>