<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{search.salon.form.title}">Search salon</h2>

<label for="salons" th:text="#{search.salon.form.salons}">Salons</label>
<table id="salons" class="dataTable">
    <thead>
    <tr>
        <td th:text="#{search.salon.form.name}">Salon name</td>
        <td th:text="#{search.salon.form.address}">Salon address</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="salon : ${allSalons}" th:action="@{/salon/view/__${salon.getId()}__}" th:class="searchable">
        <td th:text="${salon.getName()}"></td>
        <td th:text="${salon.getAddress()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>