<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{add.visit.form.title}">Add visit</h2>

<form action="/visit/add" th:action="@{/visit/add}" method="post" th:method="post" th:object="${addNewVisitDTO}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="services" th:text="#{add.visit.form.services}"></label>
    <select id="services" th:field="*{selectedService}">
        <option th:each="service : ${addNewVisitForm.allServicesForSelect}"
                th:value="${service.key}"
                th:text="${service.value}"></option>
    </select>
    <br/>

    <label for="visitors" th:text="#{add.visit.form.visitors}">ID</label>
    <select id="visitors" th:field="*{selectedVisitor}">
        <option th:each="visitor : ${addNewVisitForm.allVisitors}"
                th:value="${visitor.key}"
                th:text="${visitor.value}"></option>
    </select>
    <br/>

    <!--<label for="dateOfVisit" th:text="#{add.visit.form.dateOfVisit}">ID</label>-->
    <!--<input id="dateOfVisit" class="datePicker" type="datetime" th:field="*{dateOfVisit}"/>-->
    <!--<br/>-->

    <button id="okButton" type="submit" th:text="#{add.visit.form.button.ok}">Ok</button>
    <button id="cancel" type="reset" th:text="#{add.visit.form.button.cancel}">Cancel</button>

</form>
</body>
</html>