<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{search.visit.form.title}">Search visit</h2>

<label for="visits" th:text="#{search.visit.form.visits}">Visits</label>
<table id="visits" class="dataTable">
    <thead>
    <tr>
        <td th:text="#{search.visit.form.visitDate}">Date of visit</td>
        <td th:text="#{search.visit.form.idVisit}">Visit ID</td>
        <td th:text="#{search.visit.form.visitorFullName}">Visitor full name</td>
        <td th:text="#{search.visit.form.service}">Service</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="visit : ${allVisits}" th:action="@{/visit/view/__${visit.getId()}__}" th:class="searchable" >
        <td th:text="${visit.getFormattedDateOfVisit()}"></td>
        <td th:text="${visit.getId()}"></td>
        <td th:text="${visit.getVisitor().getFullName()}"></td>
        <td th:text="${visit.getService().getName()}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>