<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{visit.form.title}"></h2>

<label for="visitDate" th:text="#{visit.form.visitDate}"></label>
<input id="visitDate" class="datePicker" type="text" th:value="${visit.dateOfVisit}"/>
<br/>

<label for="idVisit" th:text="#{visit.form.idVisit}"></label>
<input id="idVisit" type="text" th:value="${visit.id}"/>
<br/>

<label for="visitorFullName" th:text="#{visit.form.visitorFullName}"></label>
<input id="visitorFullName" type="text" th:value="${visit.visitor.getFullName()}"/>
<br/>

<label for="service" th:text="#{visit.form.service}"></label>
<input id="service" type="text" th:value="${visit.service.name} + ' ' + ${visit.service.type}"/>
<br/>
</body>
</html>