<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <title th:text="#{login.form.title}">Login page</title>
    <link href="/resources/css/security.css" rel="stylesheet" media="screen" th:href="@{/resources/css/security.css}"/>
</head>
<body>
<div class="security">
    <div class="login-logo"></div>
    <div class="security-lang-block">
        <a href="?lang=en">en</a> | <a href="?lang=ua">ua</a> | <a href="?lang=ru">rus</a>
    </div>
    <form name="f" th:action="@{/login}" method="post" class="security-form">
        <fieldset>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <legend th:text="#{login.form.legend.pleaseLogin}">Please Login</legend>

            <label for="username" th:text="#{login.form.label.userName}">Username</label>
            <div><input type="text" id="username" th:placeholder="#{login.form.label.userName}" placeholder="User name" name="username"/></div>

            <label for="password" th:text="#{login.form.label.password}">Password</label>
            <div><input type="password" id="password" th:placeholder="#{login.form.label.password}" placeholder="Password" name="password"/></div>

            <div class="security-login-button">
                <button type="submit" th:text="#{login.form.button.login}">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>