<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <title>Login page</title>
</head>
<body>
<h1>HOME PAGE</h1>
<div th:if="${#authorization.expression('hasRole(''admin'')')}"> Hello ADMIN</div>
<div th:if="${#authorization.expression('hasRole(''director'')')}"> Hello DIRECTOR</div>
<div th:if="${#authorization.expression('hasRole(''manager'')')}"> Hello MANAGER</div>
<p>HOME PAGE</p>
<a th:href="@{/admin/showUsers}" href="http://localhost:8080/rebok3J/admin/showUsers">admin</a>
<a th:href="@{/director/showUsers}" href="http://localhost:8080/rebok3J/director/showUsers">director</a>
<a th:href="@{/manager/showUsers}" href="http://localhost:8080/rebok3J/manager/showUsers">manager</a>
<a th:href="@{/login}" href="http://localhost:8080/rebok3J/login" th:text="#{header.label.login}">login</a>
<a th:href="@{/logout}" href="http://localhost:8080/rebok3J/logout" th:text="#{header.label.logout}">logout</a>
</body>
</html>