<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{add.service.form.title}"></h2>

<form action="/service/add" th:action="@{/service/add}" method="post" th:method="post" th:object="${addNewServiceDTO}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="name" th:text="#{add.service.form.service.name}"></label>
    <input type="text" id="name" th:placeholder="#{add.service.form.service.name}" th:field="*{serviceName}"/>
    <br/>
    <label for="type" th:text="#{add.service.form.service.type}">Service name</label>
    <input type="text" id="type" th:placeholder="#{add.service.form.service.type}"  th:field="*{serviceType}"/>
    <br/>
    <button id="okButton" type="submit" th:text="#{add.service.form.button.ok}"></button>
    <button id="cancelButton" type="reset" th:text="#{add.service.form.button.cancel}"></button>
</form>
</body>
</html>