<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
        >
<body>
<h2 th:text="#{service.form.title}"></h2>

<label for="id" th:text="#{service.form.id}"></label>
<input type="text" th:readonly="true" id="id" th:value="${service.id}"/>
<br/>
<label for="name" th:text="#{service.form.name}"></label>
<input type="text" th:readonly="true" id="name" th:value="${service.name}"/>
<br/>
<label for="type" th:text="#{service.form.type}"></label>
<input type="text" th:readonly="true" id="type" th:value="${service.type}"/>
<br/>

<h3 th:text="#{service.form.resources}"></h3>
<label for="lamp.worked" th:text="#{service.form.lamp.worked}"></label>
<input type="text" th:readonly="true" id="lamp.worked" th:value="${service.lampTimeWorked}"/>
<br/>
<label for="lamp.resource" th:text="#{service.form.lamp.resource}"></label>
<input type="text" th:readonly="true" id="lamp.resource" th:value="${service.lampDefaultResource}"/>
<br/>
<label for="lamp.totalTime" th:text="#{service.form.lamp.totalTime}"></label>
<input type="text" th:readonly="true" id="lamp.totalTime" th:value="${service.airingTimeWorked}"/>
<br/>
<label for="airing.resource" th:text="#{service.form.airing.resource}"></label>
<input type="text" th:readonly="true" id="airing.resource" th:value="${service.airingDefaultResource}"/>
<br/>
<label for="createDate" th:text="#{service.form.createDate}"></label>
<input id="createDate" th:readonly="true" type="datetime" th:value="${service.createDate}"/>
<br/>
<label for="lastUpdated" th:text="#{service.form.lastUpdated}"></label>
<input id="lastUpdated" th:readonly="true" type="datetime" th:value="${service.lastUpdated}"/>
<br/>

</body>
</html>